

<div class="row">
    <div class="col-md-12 clearfix">
        <div class="wrap">
            <p><a href="@ViewBag.NewsStandHeadLineXmlUrl" target="_blank">@ViewBag.NewsStandHeadLineXmlUrl</p></a>
            <div class="box-code">
                <code>
                    @ViewBag.newsStandHeadLineXml
                </code>
            </div>
        </div>

    </div>
</div>

