@using Wow
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.broadcast
@using Wow.Tv.Middle.Model.Db49.broadcast.MyProgram


@{
    string wowTvScript = AppState["WowTvScript"].ToString();

    Layout = null;
}


<script src="@wowTvScript/BroadCast/Expert/Search.js"></script>




<div class="modal-dialog profes-id" style="width:1000px;">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">전문가 정보</h4>
        </div>
        <div class="modal-body">

            <!-- Global Search -->
            <div class="contain-search-global">
                <form id="divExpertSearch_frmSearch">
                    <table>
                        <colgroup>
                            <col width="120px">
                            <col>
                        </colgroup>
                        <tr>
                            <th rowspan="2">전문가 ID/이름</th>
                            <td>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="SearchText">
                                    <span class="input-group-btn"><button type="button" class="btn btn-default" id="divExpertSearch_btnSearch">검색</button></span>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <input type="hidden" id="divExpertSearch_pageSize" name="pageSize" value="20" />
                    <input type="hidden" id="divExpertSearch_currentIndex" name="currentIndex" value="0" />

                </form>
            </div>
            <!-- //Global Search -->

            <div id="divExpertSearch_divList"></div>

            <!-- Bottom Buttons -->
            <div class="box-button">
                <button class="btn btn-success" id="divExpertSearch_btnApply">적용</button>
            </div>
            <!-- //Bottom Buttons -->


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

