
@{
    Layout = null;
}

<div class="box-title inner-left">
    <h3>기사제공사별 트래픽</h3>
</div>
<div class="bbs-list1">
    <table class="table collapse-table">
        <thead>
            <tr>
                <th>기사 제공사</th>
                <th>페이지뷰</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>합계</td>
                <td>00,000</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>와우스타</td>
                <td>000</td>
            </tr>
            <tr>
                <td>블루뉴스</td>
                <td>000</td>
            </tr>
            <tr>
                <td>와우스포츠</td>
                <td>000</td>
            </tr>
            <tr>
                <td>스타일보</td>
                <td>000</td>
            </tr>
            <tr>
                <td>휴먼타임즈</td>
                <td>000</td>
            </tr>
            <tr>
                <td>와이미디어&middot;맥심코리아</td>
                <td>000</td>
            </tr>
            <tr>
                <td>반려동물</td>
                <td>000</td>
            </tr>
            <tr>
                <td>크리에이티브뉴스</td>
                <td>000</td>
            </tr>
            <tr>
                <td>디지털머니</td>
                <td>000</td>
            </tr>
            <tr>
                <td>트랜드와치</td>
                <td>000</td>
            </tr>
        </tbody>
    </table>
</div>