@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv;
@using Wow.Tv.Middle.Model.Db49.wowtv.Kvina;






<script>

    function goWriteEdit() {

        $.ajax({
            type: "GET",
            data: "menuSeq=@Request["menuSeq"]",
            url: "/IntMemManage/MemIdx/MemberDIDenialWriteProc",
            success: function (resultText) {
                //alert(resultText);
                alert("처리됐습니다.");
                location.href = "/IntMemManage/MemIdx/MemberDIDenialList?menuSeq=@Request["menuSeq"]";
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });


        //document.f.submit();
    }
</script>

<form name="f" method="get" action="/IntMemManage/MemIdx/MemberDIDenialWriteProc">
    <input type="hidden" name="menuSeq" value="@Request["menuSeq"]" />
    <input type="hidden" name="seq" value="" />

    <div class="wrap">

        <!-- BBS Write -->
        <div class="bbs-write1">
            <table class="table">
                <colgroup>
                    <col width="200px">
                    <col>
                </colgroup>
                <tr>
                    <th>DI</th>
                    <td>
                        <input type="text" class="form-control" name="DupInfo" id="DupInfo" value="" />
                    </td>
                </tr>
                <tr>
                    <th>JS 경고문구</th>
                    <td style="padding: 10px; height: 100px;">
                        <!-- 에디터 영역 -->
                        <textarea id="" style="display: block;" maxlength="10000" cols="10" rows="5" name="AlertText"></textarea>

                    </td>
                </tr>
                <tr>
                    <th>요청자</th>
                    <td>
                        <input type="text" class="form-control" name="RequestMailMember" id="RequestMailMember" value="" />
                    </td>
                </tr>
                <tr>
                    <th>요청일자</th>
                    <td><input type="text" class="form-control" name="RequestMailDate" id="RequestMailDate" value="" /></td>
                </tr>
            </table>
        </div>
        <!-- //BBS Write -->
        <!-- Bottom Buttons -->
        <div class="box-button">
            <button class="btn btn-success" onclick="JavaScript: goWriteEdit();">글쓰기(수정하기)</button>
            <a href="JavaScript:location.href='/IntMemManage/MemIdx/MemberDIDenialList?menuSeq=21514'" class="btn btn-success">목록</a>
        </div>
        <!-- //Bottom Buttons -->

    </div>
</form>
<!-- //공지사항 등록/수정/상세 -->