
@{
    Layout = null;
}
<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <div class="media" style="padding-left:20px;">
        <div class="media-body">
            <h4 class="media-heading">Hello, <span>홍길동</span></h4>
            <small>뉴미디어본부 IT개발부</small>
        </div>
    </div>
</div><!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->
<!-- Start left navigation - menu -->
<ul class="sidebar-menu">

    <!-- Start navigation - dashboard -->
    <li class="submenu active">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-building-o"></i></span>
            <span class="text active">방송센터</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li class="active"><a href="#">화면관리</a></li>
            <li class="active"><a href="#">프로그램관리</a></li>
            <li class="active"><a href="#">편성표관리</a></li>
        </ul>
    </li>
    <!--/ End navigation - dashboard -->
    <!-- Start navigation - frontend themes -->
    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-television"></i></span>
            <span class="text">뉴스센터</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li><a href="#">화면관리</a></li>
            <li><a href="#">통계</a></li>
        </ul>
    </li>
    <!--/ End navigation - frontend themes -->
    <!-- Start 통합회원관리 -->
    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-users"></i></span>
            <span class="text">통홥회원관리</span>
        </a>
    </li>
    <!--/ End 통합회원관리 -->

    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></span>
            <span class="text">고객센터</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li class="submenu">
            <li><a href="#">공지사항</a></li>
            <li><a href="#">이벤트관리</a></li>
            <li class="submenu">
                <a href="javascript:void(0);">고객문의관리 <span class="arrow"></span></a>
                <ul>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">시청자의견</a></li>
                    <li><a href="#">뉴스기사제보</a></li>
                </ul>
            </li>
            <li><a href="#.html">FAQ</a></li>
            <li><a href="#.html">강연회관리</a></li>
            <li><a href="#.html">정책관리</a></li>
    </li>
</ul>
                    </li>

<li class="submenu">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
        <span class="text">운영관리</span>
        <span class="arrow"></span>
    </a>
    <ul>
        <li class="submenu">
            <a href="javascript:void(0);">메뉴관리 <span class="arrow"></span></a>
            <ul>
                <li><a href="#">프론트</a></li>
                <li><a href="#">관리자</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);">운영자관리 <span class="arrow"></span></a>
            <ul>
                <li><a href="#">운영자 그룸관리</a></li>
                <li><a href="#">운영자관리</a></li>
                <li><a href="#">운영자로그</a></li>
            </ul>
        </li>
        <li><a href="#">통합게시판 관리</a></li>
        <li><a href="#">코드관리</a></li>
        <li><a href="#">패밀리사이트 관리</a></li>
    </ul>
</li>

<li class="submenu">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
        <span class="text">IR 사이트 관리</span>
        <span class="arrow"></span>
    </a>
    <ul>
        <li class="submenu">
            <a href="javascript:void(0);">메뉴관리 <span class="arrow"></span></a>
            <ul>
                <li><a href="#">관리자</a></li>
                <li><a href="#">사용자</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);">사업관리 <span class="arrow"></span></a>
            <ul>
                <li><a href="#">담당자관리</a></li>
                <li><a href="#">컨텐츠관리</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:void(0);">IR 센터 관리 <span class="arrow"></span></a>
            <ul>
                <li><a href="#">경영정보관리</a></li>
                <li><a href="#">재무현황관리</a></li>
            </ul>
        </li>
        <li><a href="#">게시물관리</a></li>
        <li class="submenu">
            <a href="javascript:void(0);">고객센터 <span class="arrow"></span></a>
            <ul>
                <li><a href="#">광고/제휴 문의</a></li>
                <li><a href="#">채용문의</a></li>
            </ul>
        </li>
    </ul>
</li>
<!--/ End navigation - blankon versions -->

<li class="submenu">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-bar-chart"></i></span>
        <span class="text">수익률 게시판</span>
    </a>
</li>

<li class="submenu">
    <a href="javascript:void(0);">
        <span class="icon"><i class="fa fa-mobile"></i></span>
        <span class="text">모바일앱</span>
        <span class="arrow"></span>
    </a>
    <ul>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">추천웹사이트</a></li>
        <li><a href="#">접속자통계</a></li>
        <li><a href="#">VOD통계</a></li>
    </ul>
</li>



                </ul><!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->

