
@{
    Layout = null;
}

<div class="header-content">
    <h2><i class="fa fa-building-o"></i> 메뉴관리</h2>
    <div class="breadcrumb-wrapper hidden-xs">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">홈</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">운영관리</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active">메뉴관리</li>
        </ol>
    </div><!-- /.breadcrumb-wrapper -->
</div><!-- /.header-content -->

