
<!DOCTYPE html>

<html>
<head>
    <title>WOW NET</title>
</head>
<body>
    <div>
        <table cellspacing="0" cellpadding="0" class="error" summary="에러메시지">
            <tr>
                <td class="errorImg">
                    @{
                    if (ViewBag.ErrorType == "404")
                    {
                        <p>요청 경로를 찾을 수 없습니다.</p>
                    }
                }
            </td>
        </tr>
        <tr>
            <td class="errorText">
                @ViewBag.ErrorDetail
            </td>
        </tr>
        <tr>
            <td class="errorCode">메세지 : @ViewBag.ErrorDetail</td>
        </tr>
    </table>
</div>
</body>
</html>