
@{
    ViewBag.Title = "Index";
}



<div class="wrap">

    <!-- BBS List -->
    <div class="bbs-list1">
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>유저번호</th>
                    <th>아이디</th>
                    <th>휴대폰 번호</th>
                    <th>패스워드(암호화)</th>
                    <th>휴면회원 해제</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>00</td>
                    <td>000000000</td>
                    <td>userid</td>
                    <td>000-0000-0000</td>
                    <td>******</td>
                    <td><button class="btn btn-success">휴면해제</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //BBS List -->
    <!-- Pagenate -->
    <div class="box-paginate">
        <a href="#" class="page-first">처음 목록</a>
        <a href="#" class="page-prev">이전 목록</a>
        <span>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
        </span>
        <a href="#" class="page-next">다음 목록</a>
        <a href="#" class="page-last">마지막 목록</a>
    </div>
    <!-- //Pagenate -->

</div>

