<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="AssetsUrl" value="/assets" />-->
    <add key="AssetsUrl" value="http://172.19.0.22:8089/assets" />
    <add key="WowTvScript" value="/WowTvScript" />
    <add key="UploadPath" value="/Admin" />
    <add key="UploadWebPath" value="http://img.wowtv.co.kr/Admin" /> <!-- 원래 (UploadPath, UploadWebPath) 둘중 하나만 있어도 Server.MapPath로 가능하지만 따로 쓰기 편하게 둘로 나눔 -->
    <add key="UploadPathRoot" value="/" />
    <add key="UploadWebPathRoot" value="http://img.wowtv.co.kr" />
    
    <add key="WowTvCastUrl" value="http://cast.wowtv.co.kr/" />
    <add key="WowTvWebUrl" value="http://www.wowtv.co.kr/" />
    <add key="WowVodWebUrl" value="http://vod.wowtv.co.kr/" />
    <add key="VodUploadPath" value="C:\VodUpload" />
    <add key="VodUploadWebPath" value="/VodUpload" />

    <add key="Cdn_UserId" value="wowtv@kinxcdn.com" />
    <add key="Cdn_Pwd" value="wowtv6676" />
    <add key="Cdn_Stoid" value="wowtvimg" />
    <add key="Cdn_Stopwd" value="Uploadwowtv123@!" />

    <add key="NaverClientKey" value="WEMpw0HiuQwU7BzY3twU" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2097151" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" >
      <error statusCode="404" redirect="/Error/Error404/" />
    </customErrors>
    
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="30" />-->
    
    <sessionState mode="InProc" timeout="90" />
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommconCodeService" />
        <binding name="BasicHttpBinding_IMenuService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IGroupService" />
        <binding name="BasicHttpBinding_IAdminService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IActionLogService" />
        <binding name="BasicHttpBinding_IBusinessManageService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IHistoryService" />
        <binding name="BasicHttpBinding_ICTGRManageService" />
        <binding name="BasicHttpBinding_IStockSituationService" />
        <binding name="BasicHttpBinding_IStockResultService" />
        <binding name="BasicHttpBinding_IFinanceService" />
        <binding name="BasicHttpBinding_IBalanceService" />
        <binding name="BasicHttpBinding_IFamilyService" />
        <binding name="BasicHttpBinding_IServiceCenter" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBoardService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IIRClubService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ICustomerInquiryService" />
        <binding name="BasicHttpBinding_INewsProgramService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ILectureService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramCmsAuthService" />
        <binding name="BasicHttpBinding_IIntegratedBoardService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IEventService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBroadLiveService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramGroupService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramTemplateService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBannerService" />
        <binding name="BasicHttpBinding_IProgramIntroService" />
        <binding name="BasicHttpBinding_IBroadWatchService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ICastService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IExpertService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ITradingStarService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IEventService1" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBalanceService1" />
        <binding name="BasicHttpBinding_IBusinessManageService1" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_ICTGRManageService1" />
        <binding name="BasicHttpBinding_IStockSituationService1" />
        <binding name="BasicHttpBinding_INewsStandService" />
        <binding name="BasicHttpBinding_ITextAndLinkService" />
        <binding name="BasicHttpBinding_IArticleStatsService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsCmtManageService" />
        <binding name="BasicHttpBinding_IHistoryService1" />
        <binding name="BasicHttpBinding_INewsCenterService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ILectureService1" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IMemberManageService" maxBufferPoolSize="524288"
          maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IRegCateManageService" />
        <binding name="BasicHttpBinding_IJoinService" />
        <binding name="BasicHttpBinding_INewsAdService" />
        <binding name="BasicHttpBinding_IHolidayTimeMngService" />
        <binding name="BasicHttpBinding_IHubBusinessService" />
        <binding name="BasicHttpBinding_IStockholderBoardService" />
        <binding name="BasicHttpBinding_IMainManageService" />
        <binding name="BasicHttpBinding_IRecruitService" />
        <binding name="BasicHttpBinding_IMemberUtilService" />
        <binding name="BasicHttpBinding_IMemberInfoService" />
        <binding name="BasicHttpBinding_IMemberMonitoringService" />
        <binding name="BasicHttpBinding_IAccessLogService" />
        <binding name="BasicHttpBinding_IKvinaService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/Admin/ServiceCenter.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCenter"
        contract="AdminServiceCenter.IServiceCenter" name="BasicHttpBinding_IServiceCenter" />
      <endpoint address="http://localhost:8088/ActionLog/ActionLogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionLogService"
        contract="ActionLogService.IActionLogService" name="BasicHttpBinding_IActionLogService" />
      <endpoint address="http://localhost:8088/Admin/AdminService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
        contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsAdService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsAdService"
        contract="NewsAdService.INewsAdService" name="BasicHttpBinding_INewsAdService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsCenterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCenterService"
        contract="NewsCenterService.INewsCenterService" name="BasicHttpBinding_INewsCenterService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsCmtManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCmtManageService"
        contract="NewsCmtManageService.INewsCmtManageService" name="BasicHttpBinding_INewsCmtManageService" />
      <endpoint address="http://localhost:8088/NewsCenter/TextAndLinkService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextAndLinkService"
        contract="TextAndLinkService.ITextAndLinkService" name="BasicHttpBinding_ITextAndLinkService" />
      <endpoint address="http://localhost:8088/IRCenter/StockSituationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockSituationService"
        contract="StockSituationService.IStockSituationService" name="BasicHttpBinding_IStockSituationService" />
      <endpoint address="http://localhost:8088/IRCenter/StockResultService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockResultService"
        contract="StockResultService.IStockResultService" name="BasicHttpBinding_IStockResultService" />
      <endpoint address="http://localhost:8088/PostManage/StockholderBoardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockholderBoardService"
        contract="StockholderBoardService.IStockholderBoardService"
        name="BasicHttpBinding_IStockholderBoardService" />
      <endpoint address="http://localhost:8088/RegCateManage/RegCateManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegCateManageService"
        contract="RegCateManageService.IRegCateManageService" name="BasicHttpBinding_IRegCateManageService" />
      <endpoint address="http://localhost:8088/MyProgram/ProgramIntroService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramIntroService"
        contract="ProgramIntroService.IProgramIntroService" name="BasicHttpBinding_IProgramIntroService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsStandService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsStandService"
        contract="NewsStandService.INewsStandService" name="BasicHttpBinding_INewsStandService" />
      <endpoint address="http://localhost:8088/Menu/MenuService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService"
        contract="MenuService.IMenuService" name="BasicHttpBinding_IMenuService" />
      <endpoint address="http://localhost:8088/MemberManage/MemberManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberManageService"
        contract="MemberManageService.IMemberManageService" name="BasicHttpBinding_IMemberManageService" />
      <endpoint address="http://localhost:8088/Member/JoinService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJoinService"
        contract="MemberJoinService.IJoinService" name="BasicHttpBinding_IJoinService" />
      <endpoint address="http://localhost:8088/ProductManage/LectureService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILectureService1"
        contract="LectureService.ILectureService" name="BasicHttpBinding_ILectureService" />
      <endpoint address="http://localhost:8088/IRCenter/IRClubService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIRClubService"
        contract="IRClubService.IIRClubService" name="BasicHttpBinding_IIRClubService" />
      <endpoint address="http://localhost:8088/Admin/IntegratedBoardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegratedBoardService"
        contract="IntegratedBoardService.IIntegratedBoardService" name="BasicHttpBinding_IIntegratedBoardService" />
      <endpoint address="http://localhost:8088/NewsCenter/HubBusinessService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHubBusinessService"
        contract="HubBusinessService.IHubBusinessService" name="BasicHttpBinding_IHubBusinessService" />
      <endpoint address="http://localhost:8088/HolidayTimeMng/HolidayTimeMngService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHolidayTimeMngService"
        contract="HolidayTimeMngService.IHolidayTimeMngService" name="BasicHttpBinding_IHolidayTimeMngService" />
      <endpoint address="http://localhost:8088/History/HistoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHistoryService"
        contract="HistoryService.IHistoryService" name="BasicHttpBinding_IHistoryService" />
      <endpoint address="http://localhost:8088/Group/GroupService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGroupService"
        contract="GroupService.IGroupService" name="BasicHttpBinding_IGroupService" />
      <endpoint address="http://localhost:8088/Family/FamilyService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFamilyService"
        contract="FamilyService.IFamilyService" name="BasicHttpBinding_IFamilyService" />
      <endpoint address="http://localhost:8088/MyProgram/ExpertService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpertService"
        contract="ExpertService.IExpertService" name="BasicHttpBinding_IExpertService" />
      <endpoint address="http://localhost:8088/ServiceCenter/EventService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventService1"
        contract="EventService.IEventService" name="BasicHttpBinding_IEventService" />
      <endpoint address="http://localhost:8088/History/CTGRManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTGRManageService"
        contract="CTGRManageService.ICTGRManageService" name="BasicHttpBinding_ICTGRManageService" />
      <endpoint address="http://localhost:8088/CommonCode/CommconCodeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommconCodeService"
        contract="CommonCodeService.ICommconCodeService" name="BasicHttpBinding_ICommconCodeService" />
      <endpoint address="http://localhost:8088/MyProgram/CastService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICastService"
        contract="CastService.ICastService" name="BasicHttpBinding_ICastService" />
      <endpoint address="http://localhost:8088/BusinessManage/BusinessManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusinessManageService"
        contract="BusinessManageService.IBusinessManageService" name="BasicHttpBinding_IBusinessManageService" />
      <endpoint address="http://localhost:8088/MyProgram/BroadWatchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadWatchService"
        contract="BroadWatchService.IBroadWatchService" name="BasicHttpBinding_IBroadWatchService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadLiveService"
        contract="BroadService.IBroadLiveService" name="BasicHttpBinding_IBroadLiveService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsProgramService"
        contract="BroadService.INewsProgramService" name="BasicHttpBinding_INewsProgramService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramCmsAuthService"
        contract="BroadService.IProgramCmsAuthService" name="BasicHttpBinding_IProgramCmsAuthService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramGroupService"
        contract="BroadService.IProgramGroupService" name="BasicHttpBinding_IProgramGroupService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramTemplateService"
        contract="BroadService.IProgramTemplateService" name="BasicHttpBinding_IProgramTemplateService" />
      <endpoint address="http://localhost:8088/Board/BoardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoardService"
        contract="BoardService.IBoardService" name="BasicHttpBinding_IBoardService" />
      <endpoint address="http://localhost:8088/MyProgram/BannerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBannerService"
        contract="BannerService.IBannerService" name="BasicHttpBinding_IBannerService" />
      <endpoint address="http://localhost:8088/IRCenter/BalanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBalanceService"
        contract="BalanceService.IBalanceService" name="BasicHttpBinding_IBalanceService" />
      <endpoint address="http://localhost:8088/NewsCenter/ArticleStatsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticleStatsService"
        contract="ArticleStatsService.IArticleStatsService" name="BasicHttpBinding_IArticleStatsService" />
      <endpoint address="http://localhost:8088/Admin/TradingStarService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingStarService"
        contract="TradingStarService.ITradingStarService" name="BasicHttpBinding_ITradingStarService" />
      <endpoint address="http://localhost:8088/MainManage/MainManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainManageService"
        contract="MainManageService.IMainManageService" name="BasicHttpBinding_IMainManageService" />
      <endpoint address="http://localhost:8088/Member/MemberUtilService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberUtilService"
        contract="MemberUtilService.IMemberUtilService" name="BasicHttpBinding_IMemberUtilService" />
      <endpoint address="http://localhost:8088/Member/MemberInfoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberInfoService"
        contract="MemberInfoService.IMemberInfoService" name="BasicHttpBinding_IMemberInfoService" />
      <endpoint address="http://localhost:8088/MemberManage/MemberMonitoringService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberMonitoringService"
        contract="MemberMonitoringService.IMemberMonitoringService"
        name="BasicHttpBinding_IMemberMonitoringService" />
      <endpoint address="http://localhost:8088/ActionLog/AccessLogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessLogService"
        contract="AccessLogService.IAccessLogService" name="BasicHttpBinding_IAccessLogService" />
      <endpoint address="http://localhost:8088/Kvina/KvinaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKvinaService"
        contract="KvinaService.IKvinaService" name="BasicHttpBinding_IKvinaService" />
      <endpoint address="http://localhost:8088/Recruit/RecruitService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecruitService"
        contract="RecruitService.IRecruitService" name="BasicHttpBinding_IRecruitService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>