<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AssetsUrl" value="/assets" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvScript" value="/WowTvScript" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!--
    아래 예에서, "Match" 로케이터가 "MyDB" 값을 가진 "name" 특성을
    찾은 경우에만 "SetAttributes" 변환에서 "ReleaseSQLServer"를
    사용하도록 "connectionString"의 값을 변경합니다.

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      아래 예에서 "Replace" 변환은 Web.config 파일의
      <customErrors> 섹션 전체를 바꿉니다.
      <system.web> 노드 아래에는 customErrors 섹션이 하나만 있기 때문에
      "xdt:Locator" 특성을 사용할 필요가 없습니다.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommconCodeService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMenuService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IGroupService"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IAdminService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IActionLogService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBusinessManageService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IHistoryService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ICTGRManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IStockSituationService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IStockResultService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IFinanceService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBalanceService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IFamilyService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IServiceCenter" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBoardService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IIRClubService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ICustomerInquiryService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsProgramService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ILectureService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IProgramCmsAuthService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IIntegratedBoardService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IEventService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBroadLiveService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IProgramGroupService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IProgramTemplateService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBannerService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IProgramIntroService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBroadWatchService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ICastService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IExpertService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ITradingStarService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IEventService1" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBalanceService1" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IBusinessManageService1" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_ICTGRManageService1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IStockSituationService1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsStandService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ITextAndLinkService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IArticleStatsService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsCmtManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IHistoryService1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsCenterService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ILectureService1" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMemberManageService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IRegCateManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IJoinService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsAdService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IHolidayTimeMngService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        <binding name="BasicHttpBinding_IHubBusinessService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IStockholderBoardService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMainManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IRecruitService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMemberUtilService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMemberInfoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMemberMonitoringService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IAccessLogService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IKvinaService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devhkmid.wowtv.co.kr/Admin/ServiceCenter.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCenter" contract="AdminServiceCenter.IServiceCenter" name="BasicHttpBinding_IServiceCenter" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/ActionLog/ActionLogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActionLogService" contract="ActionLogService.IActionLogService" name="BasicHttpBinding_IActionLogService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Admin/AdminService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService" contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsAdService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsAdService" contract="NewsAdService.INewsAdService" name="BasicHttpBinding_INewsAdService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsCenterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCenterService" contract="NewsCenterService.INewsCenterService" name="BasicHttpBinding_INewsCenterService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsCmtManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCmtManageService" contract="NewsCmtManageService.INewsCmtManageService" name="BasicHttpBinding_INewsCmtManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/TextAndLinkService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextAndLinkService" contract="TextAndLinkService.ITextAndLinkService" name="BasicHttpBinding_ITextAndLinkService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/IRCenter/StockSituationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockSituationService" contract="StockSituationService.IStockSituationService" name="BasicHttpBinding_IStockSituationService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/IRCenter/StockResultService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockResultService" contract="StockResultService.IStockResultService" name="BasicHttpBinding_IStockResultService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/PostManage/StockholderBoardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockholderBoardService" contract="StockholderBoardService.IStockholderBoardService" name="BasicHttpBinding_IStockholderBoardService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/RegCateManage/RegCateManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegCateManageService" contract="RegCateManageService.IRegCateManageService" name="BasicHttpBinding_IRegCateManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/ProgramIntroService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramIntroService" contract="ProgramIntroService.IProgramIntroService" name="BasicHttpBinding_IProgramIntroService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsStandService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsStandService" contract="NewsStandService.INewsStandService" name="BasicHttpBinding_INewsStandService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Menu/MenuService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService" contract="MenuService.IMenuService" name="BasicHttpBinding_IMenuService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/MemberManage/MemberManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberManageService" contract="MemberManageService.IMemberManageService" name="BasicHttpBinding_IMemberManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/JoinService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJoinService" contract="MemberJoinService.IJoinService" name="BasicHttpBinding_IJoinService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/ProductManage/LectureService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILectureService1" contract="LectureService.ILectureService" name="BasicHttpBinding_ILectureService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/IRCenter/IRClubService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIRClubService" contract="IRClubService.IIRClubService" name="BasicHttpBinding_IIRClubService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Admin/IntegratedBoardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegratedBoardService" contract="IntegratedBoardService.IIntegratedBoardService" name="BasicHttpBinding_IIntegratedBoardService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/HubBusinessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHubBusinessService" contract="HubBusinessService.IHubBusinessService" name="BasicHttpBinding_IHubBusinessService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/HolidayTimeMng/HolidayTimeMngService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHolidayTimeMngService" contract="HolidayTimeMngService.IHolidayTimeMngService" name="BasicHttpBinding_IHolidayTimeMngService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/History/HistoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHistoryService" contract="HistoryService.IHistoryService" name="BasicHttpBinding_IHistoryService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Group/GroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGroupService" contract="GroupService.IGroupService" name="BasicHttpBinding_IGroupService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Family/FamilyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFamilyService" contract="FamilyService.IFamilyService" name="BasicHttpBinding_IFamilyService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/ExpertService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpertService" contract="ExpertService.IExpertService" name="BasicHttpBinding_IExpertService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/ServiceCenter/EventService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventService1" contract="EventService.IEventService" name="BasicHttpBinding_IEventService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/History/CTGRManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTGRManageService" contract="CTGRManageService.ICTGRManageService" name="BasicHttpBinding_ICTGRManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/CommonCode/CommconCodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommconCodeService" contract="CommonCodeService.ICommconCodeService" name="BasicHttpBinding_ICommconCodeService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/CastService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICastService" contract="CastService.ICastService" name="BasicHttpBinding_ICastService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/BusinessManage/BusinessManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusinessManageService" contract="BusinessManageService.IBusinessManageService" name="BasicHttpBinding_IBusinessManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/BroadWatchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadWatchService" contract="BroadWatchService.IBroadWatchService" name="BasicHttpBinding_IBroadWatchService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadLiveService" contract="BroadService.IBroadLiveService" name="BasicHttpBinding_IBroadLiveService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsProgramService" contract="BroadService.INewsProgramService" name="BasicHttpBinding_INewsProgramService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramCmsAuthService" contract="BroadService.IProgramCmsAuthService" name="BasicHttpBinding_IProgramCmsAuthService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramGroupService" contract="BroadService.IProgramGroupService" name="BasicHttpBinding_IProgramGroupService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramTemplateService" contract="BroadService.IProgramTemplateService" name="BasicHttpBinding_IProgramTemplateService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Board/BoardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoardService" contract="BoardService.IBoardService" name="BasicHttpBinding_IBoardService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/BannerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBannerService" contract="BannerService.IBannerService" name="BasicHttpBinding_IBannerService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/IRCenter/BalanceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBalanceService" contract="BalanceService.IBalanceService" name="BasicHttpBinding_IBalanceService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/NewsCenter/ArticleStatsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticleStatsService" contract="ArticleStatsService.IArticleStatsService" name="BasicHttpBinding_IArticleStatsService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Admin/TradingStarService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingStarService" contract="TradingStarService.ITradingStarService" name="BasicHttpBinding_ITradingStarService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/MainManage/MainManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainManageService" contract="MainManageService.IMainManageService" name="BasicHttpBinding_IMainManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecruitService" contract="RecruitService.IRecruitService" name="BasicHttpBinding_IRecruitService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Member/MemberUtilService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberUtilService" contract="MemberUtilService.IMemberUtilService" name="BasicHttpBinding_IMemberUtilService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/MemberInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberInfoService" contract="MemberInfoService.IMemberInfoService" name="BasicHttpBinding_IMemberInfoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/MemberInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberInfoService" contract="MemberInfoService.IMemberInfoService" name="BasicHttpBinding_IMemberInfoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/MemberManage/MemberMonitoringService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberMonitoringService" contract="MemberMonitoringService.IMemberMonitoringService" name="BasicHttpBinding_IMemberMonitoringService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/ActionLog/AccessLogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessLogService" contract="AccessLogService.IAccessLogService" name="BasicHttpBinding_IAccessLogService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Kvina/KvinaService.svc"         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKvinaService"      contract="KvinaService.IKvinaService" name="BasicHttpBinding_IKvinaService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>
