
<script>

    $(document).ready(function () {

        $("#Global_btnPasswordChange").click(function () {
            $("#divPasswordChange").modal("show");

            return false;
        });


        $("#Global_btnPasswordSave").click(function () {
            if ($("#Global_pwdCurrentPwd").val() == "") {
                alert("현재 비밀번호를 입력하여 주십시오.");
                $("#Global_pwdCurrentPwd").focus();
                return false;
            }
            
            if ($("#Global_pwdPwd").val() == "") {
                alert("비밀번호를 입력하여 주십시오.");
                $("#Global_pwdPwd").focus();
                return false;
            }
            if ($("#Global_pwdPwdConfirm").val() == "") {
                alert("비밀번호 확인을 입력하여 주십시오.");
                $("#Global_pwdPwdConfirm").focus();
                return false;
            }
            if ($("#Global_pwdPwd").val() != $("#Global_pwdPwdConfirm").val()) {
                alert("비밀번호와 비밀번호 확인은 동일해야 합니다.");
                return false;
            }

            var a = /[a-z]/i
            var s = /[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z0-9]/i;
            var n = /[0-9]/i;

            if (s.test($("#Global_pwdPwd").val()) == true) {
                if ($("#Global_pwdPwd").val().length < 8) {
                    alert("비밀번호에 특수문자가 포한된 경우 8 자리 이상을 입력하여 주셔야 합니다.");
                    return false;
                }
            }
            else if (a.test($("#Global_pwdPwd").val()) == true) {
                if ($("#Global_pwdPwd").val().length < 10) {
                    alert("비밀번호에 특수문자가 포함되지 않은 경우 10 자리 이상을 입력하여 주셔야 합니다.");
                    return false;
                }
            }
            else {
                alert("비밀번호에는 숫자만 입력하실수 없습니다.");
                return false;
            }


            $.ajax({
                type: 'POST',
                url: "/Account/PasswordChange",
                data: $("#Global_frmPassword").serialize(),
                success: function (data, textStatus) {
                    if (data.IsSuccess == true) {
                        alert("비밀번호가 변경되었습니다.");
                        $("#divPasswordChange").modal("hide");

                        $("#Global_pwdCurrentPwd").val("");
                        $("#Global_pwdPwd").val("");
                        $("#Global_pwdPwdConfirm").val("");
                    }
                    else {
                        alert(data.Msg);
                    }
                }
            });


            return false;
        });
        
    });

</script>


<div id="divPasswordChange" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">운영자 비밀번호 변경</h4>
            </div>
            <div class="modal-body">

                <!-- 비밀번호변경 -->
                <form class="form-horizontal rounded shadow no-overflow" id="Global_frmPassword" >
                    <div class="sign-body">
                        @*<div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control" placeholder="현재 비밀번호" id="Global_pwdCurrentPwd" name="currentPassword">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control" placeholder="변경 비밀번호" id="Global_pwdPwd" name="changePassword">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <input type="password" class="form-control" placeholder="변경 비밀번호 확인" id="Global_pwdPwdConfirm">
                                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg rounded no-overflow">
                                <font class="f-red">*</font> 2종 조합시(영어/숫자) 10자리 이상 입력 * 3종 조합시(영어/숫자/특수기호) 8자리 이상 입력
                            </div>
                        </div>
                    </div>
                    <div class="sign-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4" style="float: right">
                                    <button type="button" class="btn btn-theme btn-lg btn-block no-margin rounded" id="Global_btnPasswordSave">확인</button>
                                </div>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">

                        </div><!-- /.form-group -->
                    </div><!-- /.sign-footer -->
                </form>
                <!--/ 비밀번호변경 -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal end-->

