@model List<Wow.Tv.Middle.Model.Db49.wowtv.NTB_COMMON_CODE>

@{
    string assetsUrl = AppState["AssetsUrl"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    Layout = "/Views/Shared/_LayoutNone.cshtml";

    List<Wow.Tv.Middle.Model.Db49.wowtv.NTB_COMMON_CODE> partCodeList = ViewBag.PartCodeList;
}


@section scripts{
    <script src="@wowTvScript/Account/Regist.js?date=20170727163009"></script>
}

@section modalDiv{
    <div id="divRegist" class="modal fade" role="dialog"></div>
}







<!-- Brand -->
<div class="brand">
    <img src="@assetsUrl/admin/images/admin-logo.png" alt="brand logo" />
</div>
<!--/ Brand -->


<!-- Register form -->
<form class="form-horizontal rounded shadow no-overflow" id="frmRegist">
    <div class="sign-header">
        <div class="form-group">
            <div class="sign-text">
                <span>운영자등록</span>
            </div>
        </div>
    </div>
    <div class="sign-body">
        <div class="form-group">
            <div class="input-group col-md-12 input-group-lg rounded no-overflow">
                <select class="form-control ex1 impor-border" name="JOB_CODE" id="cboJobCode">
                    @foreach (var item in Model)
                    {
                        <option value="@item.CODE_VALUE1">@item.CODE_NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg rounded  no-overflow w-100 impor-border">
                <div class="row">
                    <div class="col-xs-7" style="width:62% !important;">
                        <input type="hidden" id="hidExistCheck" />
                        <input type="text" class="form-control input-sm h-45" placeholder="* 아이디" name="ADMIN_ID" id="txtAdminId" style="width: 79%">
                        <span class="input-group-addon" style="width: 20px; height: 46px;"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="col-xs-3 col-xs-5-1 al-r fl-r">
                        <button type="submit" class="btn btn-theme btn-lg btn-block no-margin rounded pdd-tb10-lr2 h-45 font-size13 " id="btnExistCheck">검색</button>
                    </div>
                </div>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow impor-border">
                <input type="password" class="form-control" placeholder="* 비밀번호" name="PWD" id="pwdPwd">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>
            <span style="font-size: 11px;">
                * 2종 조합시(영어/숫자) 10자리 이상 입력<br /> * 3종 조합시(영어/숫자/특수기호) 8자리 이상 입력
            </span>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow impor-border">
                <input type="password" class="form-control" placeholder="* 비밀번호 확인" id="pwdPwdConfirm">
                <span class="input-group-addon"><i class="fa fa-check"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow impor-border">
                <input type="text" class="form-control" placeholder="* 이름" name="NAME" id="txtName">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow impor-border">
                <input type="text" class="form-control devNumber" placeholder="010" style="width:30%" name="MOBILE1" id="txtMobile1" maxlength="3">
                <input type="text" class="form-control devNumber" placeholder="0000" style="width:30%; margin-left:10px;" name="MOBILE2" id="txtMobile2" maxlength="4">
                <input type="text" class="form-control devNumber" placeholder="0000" style="width:30%; margin-left:10px;" name="MOBILE3" id="txtMobile3" maxlength="4">
                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group col-md-12 input-group-lg rounded no-overflow">
                <select class="form-control ex1" name="PART_CODE" id="cboPartName">
                    @foreach (var item in partCodeList)
                    {
                    <option value="@item.CODE_VALUE1">@item.CODE_NAME</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                <input type="text" class="form-control devNumber" placeholder="02" style="width:30%" name="PHONE1" id="txtPhone1" maxlength="3">
                <input type="text" class="form-control devNumber" placeholder="0000" style="width:30%; margin-left:10px;" name="PHONE2" id="txtPhone2" maxlength="4">
                <input type="text" class="form-control devNumber" placeholder="0000" style="width:30%; margin-left:10px;" name="PHONE3" id="txtPhone3" maxlength="4">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg rounded no-overflow">
                <input type="text" class="form-control" placeholder="한국경제TV 아이디" name="WOWNET">
                <span class="input-group-addon"><i class="fa fa-television"></i></span>
            </div>
        </div>
    </div>
    <div class="sign-footer">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-theme btn-lg btn-block no-margin rounded" id="btnRegistProc">등록</button>
                </div>
                <div class="col-xs-6 text-right">
                    <button type="button" class="btn btn-default btn-lg btn-block no-margin rounded" id="btnCancel">취소</button>
                </div>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">

        </div><!-- /.form-group -->
    </div><!-- /.sign-footer -->
</form>
<!--/ Register form -->

