@model List<Wow.Tv.Middle.Model.Db49.wowtv.NTB_COMMON_CODE>

@{
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{
    <script src="@wowTvScript/OperateManage/CommonCodeManage/Index.js"></script>
}

@section modalDiv{
    <div id="divEdit" class="modal fade" role="dialog"></div>
}


<input type="hidden" name="currentMenuSeq" id="hidCurrentMenuSeq" value="@Request["menuSeq"]" />



<div class="col-md-12">
    <div class="panel-body no-padding rounded-bottom">
        <div class="form-body">
            <div class="form-group">
                <div class="row" style="margin: 0 auto">
                    <div class="col-md-4 bod-1 devCode" id="divCode_1" title="1">
                    </div>
                    <div class="col-md-4 bod-1 devCode" id="divCode_2" title="2">
                    </div>
                    <div class="col-md-4 bod-1 devCode" id="divCode_3" title="3">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

